/*
* @Author: Can Wang
* @Date:   2016-12-23 10:34:47
* @Last Modified by:   Can Wang
* @Last Modified time: 2016-12-23 10:35:31
*/
html,body{
	margin: 0;
	padding: 0;
}
#mapDiv{
	width: 100%;
	height: 100%;
}