/*
* @Author: Can Wang
* @Date:   2016-12-23 10:34:47
* @Last Modified by:   Can Wang
* @Last Modified time: 2016-12-27 23:13:35
*/
html,body{
	margin: 0;
	padding: 0;
}
#mapDiv{
	width: 100%;
	height: 100%;
}
#HomeButton {
  	position: absolute;
  	top: 95px;
  	left: 20px;
  	z-index: 50;
}
 #test{
 	background: url('../images/test.png');
 }
 #basemap_toggle{
 	z-index:100;
 	position: absolute;
 	left:10px;
 	bottom:10px;
 }